html(lang="fr")
    head
        meta(charset="UTF-8")
        title Mon site en Nodejs
        link(href="/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css")
        script(type="/bower/jquery/dist/jquery.js" src="/js/analytics.js")
        script(type="/bower/bootstrap/dist/js/bootstrap.js" src="/js/analytics.js")
    body
    block body